@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
body {
    background-image: url("./images/heard.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container {
    background-color:antiquewhite;
    width: 500px;
    height: 650px;
    border: 2px solid rgba(17, 17, 17, 0.685);
    padding: 50px 20px;
    position: relative;
}
.container__title {
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
        
 }
.container__image {
    width: 400px;
    height: 400px; 
    display:block;
    margin: 0 auto;
    padding: 0px;
    animation: rotation 7s infinite linear;
  
}
.container__subtitle {
    font-style: italic;
    font-family:'Courier New', Courier;
    text-align: center;
    font-size: 50px;
}
.container__button {
    width: 40px;
    height: 40px;
    background-image: url("./images/arrow2.jpg");
    background-size: 50px;
    background-position: center;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: opacity .3s  ease;
}

.container__button:hover {
    opacity: .7;
}